
<div class="mes">
    <h2>De qual mês:</h2>
    <select id="mes" [(ngModel)]="mesSelecionado" (change)="carregarInformacoesMes()" (change)="reload()">
        <option value="1">Janeiro</option>
  <option value="2">Fevereiro</option>
  <option value="3">Março</option>
  <option value="4">Abril</option>
  <option value="5">Maio</option>
  <option value="6">Junho</option>
  <option value="7">Julho</option>
  <option value="8">Agosto</option>
  <option value="9">Setembro</option>
  <option value="10">Outubro</option>
  <option value="11">Novembro</option>
  <option value="12">Dezembro</option>
    </select>
</div>
<div class="information">
    <div class="counts">
        <h3 class="title">Lista de Contas do mês: {{mesSelecionado}}</h3>
        <span class="material-symbols-outlined">
            analytics
            </span><hr />

        <div class="popup">
            <form *ngIf="showPopUp" [formGroup]="formulario" (ngSubmit)="CadastrarConta()">
                <div class="popup-mounth">
                    <h2>Adicionando Conta</h2>
                    <span (click)="closePopup()" class="close">&times;</span>
                    <div class="input-info">
                        <!-- <div class="form-group"> -->
                        <label for="nome">Nome:</label>
                        <input type="text" class="name" placeholder="Nome da conta" formControlName="nome">
                        <!-- </div> -->
                        <!-- <div class="form-group"> -->
                        <label for="valor">Valor:</label>
                        <input type="number" class="value" placeholder="Valor conta" formControlName="valor">
                        <!-- </div> -->
                        <button type="submit" class="btn">Adicionar</button>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="showPopUpEdit" class="popup2">
            <div class="popup-content">
              <h2>Editando Conta</h2>
              <span (click)="ClosePopup2()" class="close">&times;</span>
              <form [formGroup]="formulario">
                <div class="input-info">
                <label for="nome">Nome:</label>
                <input id="nome" formControlName="nome" [(ngModel)]="editingConta!.nome" placeholder="Nome">
          
                <label for="valor">Valor:</label>
                <input id="valor" formControlName="valor" [(ngModel)]="editingConta!.valor" placeholder="Valor">
          
                <button (click)="salvarEdicaoConta()">Salvar</button>
                </div>
              </form>
            </div>
          </div>
          
        <div class="list-counts">
            <div class="countnot" *ngIf="contas.length == 0">
                <h3 class="sem-conta">Sem Contas ainda</h3>
            </div>
            <div class="count" *ngIf="contas.length > 0">
                <div class="titletable">
                    <h6>nome</h6>
                    <h6>valor</h6>
                    <h6>editar</h6>
                    <h6>excluir</h6>
                </div>
                <div class="infotable">
                <table class="tablecount">
                    <thead>
                        <!-- <tr class="headcounts">
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Excluir</th>
                        </tr> -->
                    </thead>
                    <tbody >
                        <tr *ngFor="let conta of contas">
                            <td>{{conta.nome}}</td>
                            <td>R${{conta.valor}}</td>
                            <td><button (click)="editarConta(conta)">Editar</button></td>
                            <td>
                                <!-- <button type="button" class="Paid" (click)="AtualizarConta(conta.contaId)">
                            <fa-icon [icon]="faCheckCircle"></fa-icon>
                        </button> -->
                                <button type="button" class="deletecount" (click)="ExcluirConta(conta.contaId)">
                                    <fa-icon [icon]="faXmark"></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="button">
            <button type="button" class="btn-conta" (click)="showContentPop()">
                Adicionar Conta
            </button>
        </div>
</div>

    <div class="balance">
        <div class="title">
            <h3>Saldo</h3>
            <span class="material-symbols-outlined">
                monetization_on
                </span>
        </div>
        <hr>
        <form *ngIf="showPopUpBalance" [formGroup]="balance" (ngSubmit)="CadastrarSaldo()">
            <div class="popup-saldo">
                <span (click)="closePopupBalance()" class="close">&times;</span>
                <div class="input-info">
                    <input type="number" class="value" placeholder="saldo" formControlName="saldo">
                    
                    <button type="submit" class="btn">Adicionar</button>
                </div>
            </div>
        </form>
        <div class="balance1" *ngFor="let balances of balances">
            
            <div class="bruto">
                <h2>R$ {{balances.saldo}}</h2>
                <h6>bruto</h6>
            </div>
            <hr >
            <div class="liquido">
                <h3>R${{saldo}}</h3>
                <h6>Liquido</h6>
            </div>
        </div>
        <hr id="hr2">
        <div class="button">
            <button type="button" class="btn-saldo" (click)="showContentPopBalance()">
                Adicionar Saldo
            </button>
        </div>
    </div>
    <!-- <div class="received">

    </div> -->
</div>
<div class="canvas">
<div class="canva">
    <canvas id="meuCanvas" ></canvas>
    
</div>
<div class="canva2">
    <canvas id="meuCanvas2"></canvas>
</div>
</div>


<script>


</script>
  
